.wrapper{
  display: flex;
  width:100%;
// align-items: center;
  height: 64px;
  padding: 10px;
//   overflow: hidden;
  &:hover{
    background-color: #f8f8f8;
  }
}
.ImgProducts{
  object-fit: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 44px;
}
.cart{
    margin-left: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.cartTitle{
    font-size: 1.4rem;
    font-weight: 400;
    -webkit-box-orient:vertical;
    width: 200px;
//     -webkit-line-clamp:3;
//     max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sell{
    font-size: 1.4rem;
}